<% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<h1 class="text-center mb-4">Carts</h1>

<div id="carts" class="list-group">
  <% @carts.each do |cart| %>
    <div class="list-group-item">
      <%= render cart %>
      <p class="mt-2">
        <%= link_to "Show this cart", cart, class: "btn btn-link" %>
      </p>
    </div>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to "New cart", new_cart_path, class: "btn btn-primary" %>
</div>