<h1 class="mb-4">Editing Product</h1>

<%= render "form", product: @product %>

<div class="mt-4">
  <%= link_to "Show this product", @product, class: 'btn btn-info me-2' %>
  <%= link_to "Back to products", products_path, class: 'btn btn-secondary' %>
</div>