<tr class="<%= line_item == @current_item ? 'table-primary' : '' %>">
  <td class="quantity text-center"><%= line_item.quantity %></td>
  <td><%= line_item.product.title %></td>
  <td class="price text-end"><%= number_to_currency(line_item.total_price) %></td>
</tr>